.timeDiv {
	background-color:#44c767;
    border:1px solid #18ab29;
    color: white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:cursive;
	font-size:17px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    display: flex;
    height: 9%;
    text-align: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
