<ion-content>
  <img style="width: 100%" src="../../assets/Delivery/pizzavacia.jpg" alt="">
  <ion-card-title style="
  text-align: center;
  font-size: 6vh;
  margin-top: 14%;
  padding: 22px;">Ya no posee pedidos para entregar</ion-card-title>
  <ion-button style="position: absolute;
                    height: 4rem;
                    width: -webkit-fill-available;
                    bottom: 0;"
              type="submit"
              color="primary"
              expand="block"
              [routerLink]="['/profile']" >Ver mis pedidos</ion-button>
</ion-content>
