<ion-content>
  <ion-list>
    <ion-item>
        <ion-text slot="start" color="dark">
            <ion-label >{{pedido.address.address}}</ion-label>
        </ion-text>              
        <ion-text color="dark" slot="end">
            <ion-label>{{pedido.address.floor}} {{pedido.address.deparment}}</ion-label>
        </ion-text>  
    </ion-item>
    <ion-item>
        <ion-text slot="start" color="medium">
            <ion-label > Cliente </ion-label>
        </ion-text>              
        <ion-text color="dark" slot="end">
            <ion-label>{{pedido.Clients.name}} {{pedido.Clients.lastName}}</ion-label>
        </ion-text>  
    </ion-item>
    <!-- <ion-label class="ion-padding" color="medium"></ion-label> -->
    <ion-item>
            <ion-text slot="start" color="medium">
                <ion-label > Creado por</ion-label>
            </ion-text>              
            <ion-text color="dark" slot="end">
                <ion-label>{{pedido.Users.name}} {{pedido.Users.lastName}}</ion-label>
            </ion-text>  
    </ion-item>
    <ion-item>
        <ion-text slot="start" color="medium">
            <ion-label >Numero de pedido </ion-label>
        </ion-text>              
        <ion-text color="dark" slot="end">
            <ion-label>{{pedido.id}}</ion-label>
        </ion-text>  
    </ion-item>   
    <ion-item>
      <ion-label color="medium" >Productos</ion-label>
    </ion-item>
    <ion-item-divider>
        <ion-text slot="start" color="medium">
            <ion-label >Monto </ion-label>
        </ion-text> 
        <ion-text slot="end" color="success">
            <ion-label >$ {{pedido.amount}}</ion-label>
        </ion-text>  
    </ion-item-divider> 
  </ion-list>
    

</ion-content>
