<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
    <ion-buttons slot="end">
        <ion-button slot="end" (click)="cargarPedidos()">
          <ion-icon slot="end" name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  *ngIf="pedidoService.pedidos.length > 0">
   <app-principal></app-principal>
</ion-content>
<ion-content  *ngIf="pedidoService.pedidos.length == 0">
    <app-sin-pedidos></app-sin-pedidos>
</ion-content>
